// @import './components/FilterTree';
@import './components/mobileBars';

*{
    margin:0;
    padding: 0;
    white-space: normal;
    outline: none;
    // user-select: none;
}
button{
    background-color: white;
}
.frontEndIndex-container button,.frontEndIndex-container label{
       font-family: 'Times New Roman', Times, serif;
       text-transform: uppercase;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    padding: 15px 7px;
    margin: 0; 
    white-space: nowrap;
}
p{
    margin: 0 !important;
}
.container{
    position: relative;
    // width: 100vw !important;
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
    // display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto 1fr;
    overflow-y: auto;
}
.subtitle{
    font-size: 11px;
    color: rgb(165, 165, 165);
    margin: 0;
}

img{
    font-size: 8px;
}
h3{
    margin-bottom: calc(16px + 0.75vw);
    text-transform: uppercase;
    font-weight: 600 !important;
    font-size: calc(12px + 0.75vw) !important;
}
h5{
    font-weight: 600 !important;
    font-size: calc(12px + 0.75vw) !important;
    padding-bottom: 5px;
}
label{
    margin: 0;
}
//FRONT END
//------------
//TAGS MENU
//------------
$frame-color: rgb(53, 25, 8);
$frame-color: white;
$font-color-main: black;
$background-color: white;

//2d
$border-dark: 1px solid black;
$border-light: 1px solid black;
$border-main:  4px solid white;
$border-gutter: none;
$border-main-color: #bbb;



.app-container{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    // border: $border-main;
}

*{
    color: black;
}

.TagsMenu-container{
    width: 250px;
    background-color: $frame-color;
    border-top: $border-dark;
    border-left: $border-dark;
    // border-right: $border-light;
    border-bottom: $border-light;
    overflow-y: auto;
    overflow-x: hidden;
}
.TagsMenu-checkbox{
    position: absolute;
    right: -1px;
    top: 6px;
    cursor: pointer;
}
.TagsMenu-checkbox_subcategory{
    position: absolute;
    right: 0;
    top: 6px;
}
.TagsMenu-Card{
    background-color: $frame-color !important;
}
.tagsMenu-Button_category{
    padding: 0 !important;
    margin: 0 !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    color: black !important;
}
.tagsMenu-Button_subcategory{
    padding: 0 !important;
    margin: 0 !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    border-right: 1px solid;
    border-left: 1px solid;
}
.tagsMenu-Button_subcategory-last{
    padding: 0 !important;
    margin: 0 !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    border-right: 1px solid;
    border-left: 1px solid;
}
.tagsMenu-list{
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tagsMenu-list input{
    margin-left: 8px;
}
.tags-li{
    flex: 1 1 50%;
    height: auto;
}
.tagsMenu-list-tags{
    display: flex;
    flex-wrap: wrap;
}
.tagsMenu-listItem{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0);
    line-height: 12px;
    margin-bottom: 2px;
    position: relative;
    padding: 4px;
    border: 1px solid;
    margin: 4px;
}
$hovercolor: rgb(160, 160, 160);
$checkedcolor: blue;
.tagsMenu-listItem:hover{
    background-color: $hovercolor;
}
.TagsMenu-Card-Title:hover{
    background-color: $hovercolor;
}
.about-container:hover{
    background-color: $hovercolor;
}
.checkbox-selected{
    background-color: #e3e3e3;
}
.tagsMenu-Button_category *{
font-size: 26px !important;
font-weight: 600;
font-family: 'Times New Roman', Times, serif;
}
.tagsMenu-Button_subcategory .title-letter{
    font-size: 18px;
    font-weight: 600;
    color: rgb(90, 90, 90);
}.tagsMenu-Button_subcategory-last .title-letter{
    font-size: 18px;
    font-weight: 600;
    color: rgb(90, 90, 90);
}
.subcategory{
    border-left: 1px solid;
    border-right: 1px solid;
}
.subcategory-last{
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 0 !important;
}
.subcategory-last-collapse{
    border-top: 1px solid;
    border-bottom: 0 !important;
}
.Navbar{
    overflow: hidden;
    background-color: $frame-color;
    width: 4vw;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    z-index: 2;
    grid-column-start: 3;
    min-width: 45px;
    border-right: $border-light;
    border-left: $border-dark;
    border-top: $border-dark;
    border-bottom: $border-light;
}

.move-left{
    transform: translateX(100%);
    opacity: 0;
}
.move-right{
    transform: translateX(-100%);
    opacity: 0;
}
.nav-menuButton{
    background-color: white;
    padding: 10px;
}

.frontEndIndex-container{
    height: 100%;
    width: 100%;
    background-color: $background-color;
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
}
.imageSelect-container{
    grid-column-start: 2;
    grid-column-end: 3;
    max-height: 100%;
    width: 100%;
    background-color: $background-color;
    transform: translateX(0);
}
.imageSelect-wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
}
.imageSelect-buffer{
    height: 100%;
    width: 100%;
    // background-color: red;
}
.Nav-button{
    width: 4vw;
    height: 45px;
    min-width: 45px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    margin: 0 !important;
}
.text-sideways{
    writing-mode: vertical-lr;
}
.Nav-infoButton{
    position: absolute;
    top: 16vw;
    left: 0;
    width: 4vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Nav-button_next{
    top: 45px;
    left: 0;
}
.Nav-button_prev{
    top: 0;
    left: 0;
}
.images-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 100%;

    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 1;
    grid-column-end: 3;

    overflow: hidden;
}

.FilePreview--imageContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    // position: sticky;
    top: 0;
    text-indent: -100%;
    overflow: hidden;
    flex: 1 1 19%;
    min-width: 59px;
    max-height: 200px;
    // border-top: 9px solid red;
    user-select: none;
}
.FilePreview--imageContainer__empty{
    overflow: hidden;
    // position: sticky;
    top: 0;
    z-index: -9999;
    height: 0;
    // border-top: 4px solid red;
    // border-bottom: 5px solid red;
}
.FilePreview--imageContainer__empty > *{
    transform: translateY(200px) !important;
}
// .left-aligned{
//     align-self: flex-end;
// }

.enlarge-border{
    position: absolute;
    height: 100vh;
    width: 10px;
    background-color: $border-main-color;
    left: -10px;
    border-right: $border-dark;
    border-left: $border-light;
    display: none;
}
#foreground{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 1;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#background{
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    max-height: 100%;
}

.imageSelect-FilePreview{
    object-fit: contain;
    align-self: flex-end;
    transform-origin: bottom;
    transform: translateY(0);
    cursor: pointer;
    height: 100%;
    max-width: 100%;
}
.zero-width{
    height: 0;
}
@keyframes modalFade {
    0% {
      opacity: 1;
      z-index: 9999;
      display: flex;
    }
    90% {
      opacity: 0;
    }
    100% {
        display: none;
    }
  }
.modalOff{
    animation-name: modalFade;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-direction: forwards;
}


.FamilyNext{
  width : 21px;
  height : 30px;
}
@keyframes image-hide{
    0% {
        left: 100%;
    }
    100% {
         transform: translateY(200%);
    }
}
.move-left{
    animation-name: move-left;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
}

.image-hide{
    transform: translateY(100%);
}

.low-opacity{
    opacity: 0.2;
}

.FilePreview--imageContainer:hover{
    opacity: 1;
}

.display-no{
    display: none;
}

.tagsMenu-Button{
    display: flex !important;
    width: 100%;
    font-weight: 400 !important;
    font-size: 16px !important;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(102, 102, 102) !important;
}


@keyframes move-right{
    0% {
        right: 100%;
    }
    100% {
        right: 0;
    }
}
.move-right{
    animation-name: move-right;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
.Tags-item_wrapper{
    display: flex;
    margin: 20px 0 15px 0;
    justify-content: flex-end;
}
.Tags-item_selectors{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.Tags-item_container{
    // font-family: 'Courier New', Courier, monospace !important;
    height: 20px;
    max-height: 20px;
    text-transform: uppercase;
    font-size: 10px;
    color: rgb(81, 81, 81);
    border: 1px solid rgb(81, 81, 81);
    padding: 2px 7px 2px 7px !important;
    margin: 2px 0px 2px 8px !important;
    cursor: pointer;
    text-transform: unset !important;
}

.Tags-item_container:hover{
    transform: scale(1.1);
}
.Tags-item_text{
    // font-size: 12px;
    // font-weight: 600;
    white-space: nowrap;
    text-transform: uppercase;
}
.Tags-item_container-closeButton{
    transition: width 0.2s;
    width: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    // display: none;
    // *{
    //     width: 0;
    // }
}
.Tags-item_container-closeButton_open{
    width: 60px;
    min-width: 60px;
    color: white;
    font-weight: bold;
    text-transform: uppercase !important;
    border: none;
    overflow: visible;
    .Tags-item_text{
        color: white;
        font-weight: unset;
    }
    button{
        background-color: red;
        width: 100%;
        border: none;
    }
}
.enlarge-preview{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.about-container{
    width: 100%;
    position: relative;
    display: flex;
    border-bottom: 1px solid !important;
    background-color: blue;
    border-top: 1px solid;
    cursor: pointer;
}
.about-image{
    width: 50%;
}
.TagsMenu-close{
    width: 100%;
    position: sticky;
    bottom: 0;
}
.halfSize{
    max-width: 50%;
    min-width: 45px;
}
.enlarge-info{
    width: 100%;
    bottom: 0;
    background-color: white;
    position: relative;
    border-top: 1px solid black;
}
// .previewBubble-container{
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     position: absolute;
//     z-index: 9999;
//     background-color: white;
//     width: 100%;
//     height: 100%;
//     border-left: 0;
//     border-bottom: 0;
// }
.previewBubble-wrapper{
    padding: 0 5px 0 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.previewBubble{
    height: 30px;
    width: 30px;
    border-radius: 999px;
    margin: 5px;
    flex: 1 1 15px;
    cursor: pointer;
    min-width: 30px;
    max-width: 30px;
    opacity: 0.8;
    // background-color: rgb(192, 192, 192);
    border: 2px solid black;
}
.ArtworkInfo-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    width: 100% !important;
    max-height: calc(100vh - 59px);
    // overflow-y: auto;
    z-index: 2;
    top: 100%;
    // padding: 0 3vw 40px 3vw;
}
.ArtworkInfo-wrapper{
    width: 100%;
    background-color: white;
}

.ArtworkInfo-preview-container{
    height: 75px;
    z-index: 11;
    cursor: pointer;
    align-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    // max-width: 25%;
}
.ArtworkInfo-preview{
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    opacity: 1;
}
.ArtworkInfo-preview:hover{
    opacity: 1;
}
.ArtworkInfo-seeAlso-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 3px;
    width: 100%;
    overflow: hidden;
}
.SeeAlso-wrapper{
    max-width: 100%;
}
.ArtworkInfo-container_seealso{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.SeeAlso-related_images{
    display: flex;
    max-height: 90px;
    overflow-x: auto;  
    overflow-y: hidden;
}
.subtitle_seeAlso{
    margin-bottom: 3px;
    border-bottom: 1px solid;
    white-space: nowrap;
    text-align: end;
    font-size: 14px;
}
.ArtworkInfo--descriptions{
    font-size: 14px;    
    max-width: 600px;
    margin: 10px 0 5px 20px;
}
.ArtworkInfo--descriptions_instance{
    margin-top: 20px;
    max-width: 60ch;
    font-size: 12px;
}
.ArtworkInfo_artworkFamily{
    font-size: 12px;
    line-height: 16px;
}
.ArtworkInfo_artworkTitle{
    font-size: 14px;
}
.ArtworkInfo_locationYear{
    font-size: 12px;
    // margin-top: 10px;
}
.clickable{
    cursor: pointer;
}
.noClick{
    border: 0;
    cursor: default;
}
.clear-all{
    height: 50px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subcateogry_empty{
    position: relative;
    text-transform: uppercase;
}
.menu{
    width: 100%;
}
.Nav-button-menu{
    bottom: 0;
    height: initial;
    width: 100%;
}
.images-grid{
    display: grid;
    grid-template-columns: 1fr max-content;
}

//*****************************************
.TagsMenu-checkbox{
    top: initial;
    position: initial;
    margin-left: 5px;
}
.TagsMenu-Accordion-label.category{
    height: 40px;
}
.TagsMenu-Accordion-label.subcategory{
    height: 30px;
}
.TagsMenu-Accordion-label.theme{
    height: 25px;
}
.TagsMenu-category-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;

}
.TagsMenu-categories{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.TagsMenu-listitems-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid black;
    position: absolute;
}

.title-letter{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.contact-title{
    font-size: 12px;
}
.TagsMenu-subcategory-container{
    width: 100%;
    border-top: 1px solid black;
    position: relative;
}
.TagsMenu-subcategories{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    overflow: visible;
    background-color: white;
    opacity: 0;
}
.TagsMenu-listItems-container{
    width: 100%;
    position: absolute;
    border-bottom: 1px solid black;
    bottom: 0;
}
.TagsMenu-listitem{
    z-index: 7;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    padding: 4px 40px;  
    border-bottom: 1px solid;
    opacity: 0;
}
#TagsMenu-listitems-container{
    display: none;
}
.TagsMenu-bottomButtons{
    display: flex;
}
.no-click{
    cursor: default;
}
.TagsMenu-category-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    cursor: pointer;
    width: 100%;
}
.scroll-down-listitem{
    transform: translateY(100%);
    opacity: 1 !important;
}
.TagsMenu-about-contact{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    z-index: 999;
}
.TagsMenu-category-button-container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 9;
    background-color: white;
}
.button-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
}
.subcategories{
    z-index: 8;
    background-color: white;
    padding: 4px 20px;
}
.aboutbutton{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 100%;
}
.category-title-letter{
    font-size: 18px;
}
.subcategory-title-letter{
    font-size: 14px;
}
.listitem-title-letter{
    font-size: 12px;
}
.shadow{
    box-shadow: inset 0px 24px 26px -19px rgba(0,0,0,0.6);
    position: absolute;
    height: 100%;
    widows: 100%;
}
#contact-subcategories{
    border-bottom: 1px solid black;
    padding: 20px 0;
}
#contact-subcategories *{
    width: 100%;
    margin: 20px 0 20px 20px !important;
}
.slick-slider,.slick-slider *{
    outline: none;
    // user-select: none;
    // border: 0 !important;
}
.slick-list,.slick-track,.slick-track div,.slick-track div div{
    height: 100%;
}
.slick-dots{
    bottom: 0 !important;
    z-index: 999 !important;
}
.fade-out{
    opacity: 0 !important;
    mix-blend-mode: luminosity;
}
.year-tag{
    flex: 1 1 40% !important;
}
.location-tag{
    font-size: 12px;
}
.nowrap{
    white-space: nowrap;
    flex-wrap: nowrap;
}
.TagsMenu-checkbox{
    position: absolute;
    right: 30px;
    overflow: visible;
}
.styledCheckbox-container_large{
    padding-left: 40px;
}
.styledCheckbox-container_small{
    padding-left: 18px;
}
.styledCheckbox-container_large .styleCheckbox-checkmark{
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    height: 20px;
    width: 20px;
}
.styledCheckbox-container_small .styleCheckbox-checkmark{
    left: 2px;
    top: calc(50% - 7px);
    height: 14px;
    width: 14px;
    border: 1px solid;
}
.TagsMenu-category-title:hover .white-font{
    color: red !important;
}
.TagsMenu-category-title:focus .white-font{
    color: red !important;
}
.pinch-to-zoom-container{
    // height: 100% !important;
    height: 100%;
    width: 100%;
    display: flex !important;
    align-items: center;
}
.pinch-to-zoom-area{
    height: 100%;
    max-height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.initialScale{
    transform: scale(1);
}
.previewBubble-filled{
    background-color: $checkedcolor !important;
}
// .dark-bg:hover{
//     background-color: $checkedcolor !important;
// }
.single-container{
    justify-content: flex-end;
}

.controls-button{
    // height: 100%;
    height: 35px;
    width: 35px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px 0 7px;
    img{
        height: 100%;
    }
}
.info-up{
    display: initial;
    height: 100%;
    overflow: hidden;
}
.explorer-view{
    width: calc(360px - 220px)!important;
    .FilePreview--imageContainer{
        flex-basis: 100%;
    }
}
.carousel-wrapper{
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    background-color: black;
    *{
        // width: 100%;
        height: 100%;
        max-width: 100%;
    }
    .carousel{
        width: 100%
    }
    .carousel-indicators{
        margin: 0 !important;
    }
    a{
        z-index: 9999;
    }
    .carousel-indicators{
        height: initial !important;
    }
    .carousel-control-next span, .carousel-control-prev span{
        height: 20px;
    }
}
.foreground-transition{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        height: 100% !important;
        width: 100% !important;
    }
    img{
        height: 100% !important;
        // width: auto !important;
        object-fit: contain;
    }
}
.keen-slider__slide{
    min-width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-rows: 1fr min-content;
}

.dots{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot{
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    margin: 0 2px 4px 2px !important;
}
.dot.active{
    background-color: lime;
}
//MEDIA QUERY MOBILE *************************************************************************************************************
@media only screen and (max-width: 768px) {
    $hovercolor: white !important;
    .TagsMenu-category-title:hover *{
        color: black;
    }
    .ArtworkInfo--descriptions_instance{
        padding-left: 0;
    }

    .imageInfo-nav{
        z-index: 9;
        display: flex;
        height: 100%;
        width: 100%;
        position: relative;
    }
    #foreground{
        mix-blend-mode: unset;
    }
    .TagsMenu-category-title:focus *{
        color: black;
    }
    .checkbox-selected:focus *{
        color: white !important;
    }
    .checkbox-selected:hover *{
        color: white !important;
    }
    .ArtworkInfo-preview-container{
        height: 60px;
    }
    .SeeAlso-related_images{
        max-height: 70px;
    }
    .menu-container{
        display: flex;
        height: 100%;
        width: 100px;
        background-color: white;
        cursor: pointer;
        border-left: 1px solid black;
    }
    .menu-title{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-right: 5px;
    }
    .menu-title *{
        color: black !important;
    }
    .controls{
        position: absolute;
        right: 0;
        display: flex;
        height: 100%;
    }
    .previewBubble-container{
        position: relative;
        height: 100%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .previewBubble-wrapper{
        position: initial;
        flex: 1;
        padding: 5px 5px 0 0;
        justify-content: flex-start;
        height: 100%;
    }
    .previewBubble{
        height: 30px;
        width: 30px;
        max-width: 30px;
        min-width: 30px;
    }
    .TagsMenu-hamburger{
        height: 100% !important;
        width: 100px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 !important;
        border-top: 0;
        border-bottom: 0;
        background-color: white !important;
    }
    .TagsMenu-hamburger *{
        padding: 0 !important;
        color: black !important;
    }
    .FamilyList--detail__image{
        width: 100%;
        max-width: 400px;
    }
    body{
        overscroll-behavior: contain;
        overflow: hidden;
        height: 100%;
        position: absolute;
        bottom: 0;
    }

    .enlarge-down{
        transform: translateY(0) !important;
    }
    #root{
        height: 100%;
    }
    .app-container{
        height: 100%;
    }
    .appContainer{
        height: 100%;
    }
    .frontEndIndex-container{
        grid-template-columns: 100%;
        grid-template-rows: min-content 1fr;
    }
    .TagsMenu-container{
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        position: absolute;
        z-index: 9999;
        transform: translateY(-100%);
        border-right: 1px solid;
        max-height: calc(100vh - 144px);
        border-bottom: none;
        overflow-y: scroll;
        overflow: visible;
    }
    .TagsMenu-max{
        max-height: calc(100vh - 143px);
    }
    .TagsMenu-Card-Title{
        height: 37px;
        align-items: center;
    }
    .TagsMenu-checkbox_subcategory, .TagsMenu-checkbox {
        top: 17px;
    }
    .tagsMenu-listItem{
        display: flex;
        align-items: center;
        height: 33px;
        font-family: 'Arial', 'Helvetica', sans-serif;
        font-size: 12px;
    }
    .images-container{
        overflow: hidden;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .imageSelect-container{
        bottom: 0;
        z-index: 999;
        width: 100% !important;
        border-right: none;
        border-left: none;
        border-top: none;
        z-index: 0;
    }
    .imageSelect-slide{
        transform: translateX(250px);
    }
    .side-scroll{
        // flex-direction: column;
        overflow-x: auto;
        flex-wrap: nowrap;
        border-top: 1px solid;
        height: 60px;
        overflow-y: hidden;
        border-top: 0;
        bottom: unset;
        left: 0;
        *{
            border: 0;
        }
        .imageSelect-buffer{
            display: none;
        }
        img{
            height: 100%;
        }
    }
    .enlarge-info{
        display: flex;
        justify-content: space-between;
        bottom: 0;
        border-top: none;
    }
    .controls-button{
        border: none;
        float: right;
    }
    .info-up{
        display: initial;
        height: 100%;
        overflow: hidden;
    }
    // .ArtworkInfo-toggleTags{
    //     transform: translateY(-60px);
    // }
    .enlarge-scroll-down{
        transform: translateY(100%);
    }
    .scroll-down{
        top: 0;
        opacity: 1 !important;
        border-top: none;
    }
    .Navbar{
        position: relative;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: space-between;
        border-top: none;
        border-left: 1px solid;
    }
    .Nav-button{
        position: absolute;
        height: 100%;
        width: 55px;
        position: initial;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Nav-button_next{
        order: 3;
    }
    .nav-menuButton{
        padding: 0;
    }
    .text-sideways{
        writing-mode: initial;
    }
    .menu{
        width: auto;
        height: 100%;
        transform: rotate(90deg);
    }
    .Nav-infoButton-icon{
        height: 75%;
    }
    .imageSelect-FilePreview{
        max-width: 100%;
    }
    .side-scroll .imageSelect-FilePreview{
        width: auto !important;
        z-index: 9999;
        object-fit: unset;
        max-width: unset;
    }
    .about-container{
        width: 50%;
        position: relative;
        display: flex;
        border-top: 1px solid black;
        background-color: blue;
        align-items: center;
        cursor: pointer;
    }
    .about-image{
        width: 150px;
    }
    .image-hide{
        display: none;
    }
    .FilePreview--imageContainer__empty{
        height: 0 !important;
        width: 0 !important;
        min-height: 0 !important;
    }
    .ArtworkInfo--descriptions{
        font-size: 12px;
        margin: 10px 20px;
    }
    .ArtworkInfo_locationYear{
        font-size: 10px;
    }
    .side-scroll .FilePreview--imageContainer__empty{
        width: 0px !important;
        height: 100% !important;
        min-width: 0 !important;
        display: none;
    }
    .side-scroll .FilePreview--imageContainer{
        flex: unset;
        max-width: unset;
        min-width: unset;
        overflow: unset;
        flex-direction: unset;
        height: 100%;
    }
    .hide-imageSelect{
        transform: translateY(100%)
    }
    #themes-subcategories{
        max-height: 40vh;
        overflow-y: auto;
    }
    .pinch-to-zoom-area{
        height: 100% !important;
        // max-height: 100%;
    }
    .pinch-to-zoom-container{
        display: inline-block !important;
    }
    .ArtworkInfo-container .imageSelect-container{
        height: 0;
    }
    .ArtworkInfo-toggleTags{
        border-top: 1px solid black;
        height: 60px !important;
    }
    
    .Tags-item_container{
        margin: 3px !important;
        // margin: 3px 0 0 6px !important;
        padding: 2px 5px 2px 5px !important;
    }
  }

  //retcon
  .previewCounter{
      justify-content: start;
      width: 50px;
      span{
          font-size: 12px;
      }
  }

  @import './components/enlarge';
  @import './components/List';
  @import './components/viewhide';
  @import './components/switch';
  @import './components/magnify';


  $navHeight_desktop: 30px;

  .enlargeContainer{
    overflow: visible;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr min-content;
    // height: calc(100% - 20px) !important;
    max-width: calc(100% - 359px);
    transition: 0.2s all;
  }
  .full-width{
      width: 100% !important;
      max-width: 100% !important;
  }
  .enlarge-closeButton-container{
      height: $navHeight_desktop;
      top: -$navHeight_desktop;
  }
  .MobileNav-container{
      height: $navHeight_desktop;
  }
  .ArtworkInfo-container{
      grid-row-start: 2;
      grid-row-end: 3;
  }

@media only screen and (max-width: 768px) {
    .FilePreview--imageContainer{
        flex: 1 1 33%;
    }
    $navHeight_mobile: 30px;
    .MobileNav-container, .enlarge-closeButton-container{
        height: $navHeight_mobile;
    }
    .enlarge-closeButton-container{
        position: initial;
    }
    .enlarge-closeButton-button{
        padding-right: 0 !important;
    }
    .enlargeContainer{
        height: calc(100%) !important;
        grid-template-rows: min-content 1fr min-content;
        max-width: unset;
    }
    .slick-next, .slick-prev{
        display: none !important;
    }
  }

  .slick-prev{
      left: 10px !important;
  }
  .slick-prev::before, .slick-next::before{
      color: black !important;
  }
  .slick-prev, .slick-next{
    z-index: 9999;
  }
  .slick-next{
      right: 10px !important;
  }

  

.legacyStyle-List-listItem:hover, .legacyStyle-List-listItem:focus,
.viewControls-info-container:hover, .viewControls-info-container:focus,
.Tags-item_container:hover, .Tags-item_container:focus,

.enlarge-closeButton-container:hover, .enlarge-closeButton-container:focus,
.viewControls-button-info:hover, .viewControls-button-info:focus,
.Mobilenav-button:hover, .Mobilenav-button:focus{
    background-color: Black !important;
    color: white !important;
    outline: none !important;
    *{
        background-color: Black !important;
        color: white !important;
        border-color: white !important;
        outline: none !important;
    }
}

.FilterTree-container,
.imageSelect-container{
    transition: width 0.2s;
}

@media only screen and (max-width: 768px) {

    .enlarge-closeButton-container:hover, 
    .enlarge-closeButton-container:focus,
    .Mobilenav_close:hover, 
    .Mobilenav_close:focus{
        background-color: initial !important;
        color: initial !important;
        outline: none !important;
        *{
            background-color: initial !important;
            color: initial !important;
            border-color: initial !important;
            outline: none !important;
        }
    }
    .enlarge-closeButton-container{
        border-left: none;
    }

    .frontEndIndex-container{
        // border: 1px solid black;
        overflow: hidden;
    }
}